
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  background-image: url("https://cdn.pixabay.com/photo/2021/03/02/22/14/blueprint-6063929_960_720.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.cont {
  height: 100vh;
  /* background-color: beige; */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  box-sizing: border-box; /* ensure padding and border don't affect width/height */
}

/*nth child of section*/
/* section:nth-child(1) {
  background-color: red;
}

section:nth-child(2) {
  background-color: blue;
}

section:nth-child(3) {
  background-color: green;
} */






.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  box-sizing: border-box; /* ensure padding and border don't affect width/height */
}

.carousel-image{
  object-fit: cover;
  width: 100px;
}

.section-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.intro-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  z-index: 1;
  
}

.home-title-nav{
  height: 6rem;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(191, 121, 29);
  width:100%;
  margin-bottom: 0;
}



.home-about{
  margin-top: 2rem;
  width: 60%;
  background-color: azure;
}

.carousel{
  height: 500px;
}

.section-2{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.service-container{
  background-color: antiquewhite;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* ensure padding and border don't affect width/height */
  margin-top: 4.1rem;
}

.service-title-nav{
  padding-top: 5px;
  height: 4rem;
}

.service-1{
  display: flex;
  justify-content: center;
  background-color: red;
  height: 100%;
  flex:1;
}


.service-2{
  display: flex;
  justify-content: center;
  background-color: blue;
  height: 100%;
  flex:1;

}


.service-3{
  display: flex;
  justify-content: center;
  background-color: rgb(169, 156, 36);
  height: 100%;
  flex:1;
}

.service-title{
  position: absolute;
  width: 20%;
  text-align: center;
}

.service-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-info{
  margin-top: 4rem;
  padding: 1rem
}

.service-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}








.navigation{
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  
}

.nav-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.nav-text{
  color: #fff; /* set the text color to white */
  background-color: #007bff; /* set the background color to blue */
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem; /* round the corners of the link */
  text-decoration: none; /* remove the underline from the link */
  margin-left: 2rem;
}

.nav-active{
  color: #fff; /* set the text color to white */
  background-color:red; /* set the background color to green */
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem; /* round the corners of the link */
  text-decoration: none; /* remove the underline from the link */
  box-shadow: 0 0 0.25rem 0.25rem rgb(255, 1, 1);
  margin-left: 2rem;
}

.navbar-logo{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: none;
}

.navbar * {
  background-color: transparent !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  opacity: 0.8;
}


.navbar .my-button {
  background-color: #6c757d;
}


.nav-link-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.nav-links-child{
  display: flex;
  flex-direction: row;
}

.phone-num{
  margin-right: 1.5rem;
}



.contact-title-nav{
  text-align: center;
  padding-top: 5px;
  height: 4rem;
  background-color: rgb(191, 121, 29);
}

  form {
    max-width: 70%;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  .message-area{
    height: 200px;
  }
  
  input[type="submit"] {
    background-color: #2e4484;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .email-form{
    padding: 15rem;
  }



  @media screen and (max-width: 999px) {
    .nav-text{
      display: none;
    }
    .nav-active{
      display: none;
    }

  }

  
  